:root {
  --color-main: #eeeeee;
  --color-text: #111111;
  --color-accent: #118bfe;
  --color-border: #d0d0d0;
}

canvas {
  filter: none;
}

.theme {
  filter: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 300;
  font-family: "Cascadia Code", "Cascadia Mono", "Lucida Console", "Consolas", monospace;
  font-size: medium;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-accent) var(--color-main);
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-main);
  text-rendering: optimizeLegibility;
}