:root {
  --color-main: #eeeeee;
  --color-text: #111111;
  --color-accent: #118bfe;
  --color-border: #d0d0d0;
}


@media (prefers-color-scheme: dark) {

  body,
  canvas,
  .no-filter {
    filter: invert(1);
  }

  option {
    background-color: var(--color-text);
    color: var(--color-main);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: monospace;
  font-size: large;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-main);
  text-rendering: optimizeLegibility;
}