@import './base.css';


#app {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.element {
  color: var(--color-text);
  background-color: var(--color-main);
}